body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

li.disabled {
	pointer-events: none;
	cursor: default;
}

li.active {
	pointer-events: none;
	cursor: default;
}