<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>java_zzti_cloud</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<jsp-config>
		<taglib>
			<taglib-uri>/pagingTag</taglib-uri>
			<taglib-location>/WEB-INF/pagingTag.tld</taglib-location>
		</taglib>
	</jsp-config>
	<filter>
		<filter-name>CharsetEncodingFilter</filter-name>
		<filter-class>com.zzti.filter.CharsetEncodingFilter</filter-class>
		<init-param>
			<param-name>encode</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>CharsetEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>ClassListUIServlet</servlet-name>
		<servlet-class>com.zzti.web.ui.ClassListUIServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ClassListUIServlet</servlet-name>
		<url-pattern>/servlet/ClassListUIServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ClassAddUIServlet</servlet-name>
		<servlet-class>com.zzti.web.ui.ClassAddUIServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ClassAddUIServlet</servlet-name>
		<url-pattern>/servlet/ClassAddUIServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ClassUpdateUIServlet</servlet-name>
		<servlet-class>com.zzti.web.ui.ClassUpdateUIServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ClassUpdateUIServlet</servlet-name>
		<url-pattern>/servlet/ClassUpdateUIServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ContactAddUIServlet</servlet-name>
		<servlet-class>com.zzti.web.ui.ContactAddUIServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ContactAddUIServlet</servlet-name>
		<url-pattern>/servlet/ContactAddUIServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ContactListUIServlet</servlet-name>
		<servlet-class>com.zzti.web.ui.ContactListUIServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ContactListUIServlet</servlet-name>
		<url-pattern>/servlet/ContactListUIServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ContactUpdateUIServlet</servlet-name>
		<servlet-class>com.zzti.web.ui.ContactUpdateUIServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ContactUpdateUIServlet</servlet-name>
		<url-pattern>/servlet/ContactUpdateUIServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ClassAddServlet</servlet-name>
		<servlet-class>com.zzti.web.controller.ClassAddServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ClassAddServlet</servlet-name>
		<url-pattern>/servlet/ClassAddServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ClassUpdateServlet</servlet-name>
		<servlet-class>com.zzti.web.controller.ClassUpdateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ClassUpdateServlet</servlet-name>
		<url-pattern>/servlet/ClassUpdateServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ClassDeleteServlet</servlet-name>
		<servlet-class>com.zzti.web.controller.ClassDeleteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ClassDeleteServlet</servlet-name>
		<url-pattern>/servlet/ClassDeleteServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ContactAddServlet</servlet-name>
		<servlet-class>com.zzti.web.controller.ContactAddServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ContactAddServlet</servlet-name>
		<url-pattern>/servlet/ContactAddServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ContactUpdateServlet</servlet-name>
		<servlet-class>com.zzti.web.controller.ContactUpdateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ContactUpdateServlet</servlet-name>
		<url-pattern>/servlet/ContactUpdateServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ContactDeleteServlet</servlet-name>
		<servlet-class>com.zzti.web.controller.ContactDeleteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ContactDeleteServlet</servlet-name>
		<url-pattern>/servlet/ContactDeleteServlet</url-pattern>
	</servlet-mapping>
</web-app>